<html>
    <head>
        <title>Proyecto DJANGO</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Proyecto Django</a></h1>
        </div>

        <div>
            <p>published: 02.11.2019, 11:39</p>
            <h2><a href="">Primera publicacion</a></h2>
            <p>wowowowow que genial</p>
        </div>

        <div>
            <p>published: 02.11.2019, 11:45</p>
            <h2><a href="">Segunda publicacion</a></h2>
            <p>ya quiero que se acabe el semestre por fabor</p>
        </div>
    </body>
</html>